html{
    background: lightgray;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:20px;
    padding:20px;
    color: darkblue;
    border-top:10px solid darkblue;
    background-color: pink;
}

h1{
    font-size: 4em;
    margin: 0;

}

p{
    line-height: 1.6em;
    color: darkgrey;


}

#blog{
    border-top: 1px dotted darkblue;

}

.blog-post{
    border-bottom:1px dotted darkblue;

}
